#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

generated/**

# visual code
 **/.vscode/*

.terraform.lock.hcl
.env

# ssh keys
breakglass_id_rsa
breakglass_id_rsa.pub
